<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="/vendor/fontawesome/css/font-awesome.min.css" />

    //- bower:css
    //- endinject

    //- inject:css
    //- endinject

    <title><%= appName %><%if(appDescription !== ""){%> | <%= appDescription%><%}%></title>
    <base href="/" />
</head>
<body ng-app="app">
    <ng-include="template/header.html"></ng-include>

    <div class="content-body" ng-view></div>
</body>